.productsWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .sidebar {
    background: rgba(255, 255, 255, 1);
    height: 100vh;
    padding: 7rem 0;
    z-index: 1;
    .navLink {
      text-decoration: none;
      height: 5vh;
      li {
        padding: 0 1rem;
        list-style-type: none;
        font-size: 0.8rem;
        width: 100%;
        margin: 0.5rem 0;
        cursor: pointer;
        color: #018695;
      }
    }
  }
  // .mainCard {
  //   width: 100%;
  //   height: 100vh;
  //   // margin: 6.5rem 1rem 0 1rem;
  //   background: rgba(255, 255, 255, 0.6);
  // }
}

.ProductsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .bgWrapper {
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  .bgImg {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -2;
  }
}
