.accContainer {
  .accWrapper {
    margin-top: 0.5rem;
    // border-radius: 50px;
    border: none;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    .Title {
      width: 75%;
      color: #018695;
    }
  }
}
