@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.aboutContainer {
  min-height: 100vh;
  height: 100%;
  padding: 1rem 4rem 0 4rem;
  width: 100%;
  background: white;
  @media (max-width: 760px) {
    padding: 1rem;
  }
  .accordianContainer {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 15vh;
    @media (max-width: 760px) {
      grid-template-columns: 1fr;
      margin-top: 10vh;
    }
    // padding-top: 5rem;
    // background-color: #ffffff;

    .imgWrapper {
      width: 100%;
      padding: 0rem 2rem 0 0rem;
      color: #110b11;
      text-align: justify;
      @media (max-width: 760px) {
        padding: 1rem;
      }
      p {
        font-size: 1r em;
      }
      .imageContainer {
        padding: 2.6rem 1rem 0 1rem;
        display: flex;
        justify-content: center;
        img {
          width: 80%;
        }
      }
    }
    .accordianWrapper {
      //   padding-top: 5rem;
    }
  }
}
