.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding-top: 15vh;
  @media (max-width: 760px) {
    grid-template-columns: 1fr;
    padding-top: 10vh;
  }
  .addressContainer {
    color: #018695;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 85vh;
    padding: 1.5rem 4rem 0 4rem;
    @media (max-width: 760px) {
      padding: 1.5rem 1rem 0 1rem;
    }
    background: rgba(255, 255, 255, 0.9);
    .address {
      position: relative;
      margin: 2rem auto;
      @media (max-width: 760px) {
        margin: 1rem auto;
      }
      width: 70%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .formContainer {
    color: #018695;
    padding: 1.5rem 4rem 0 4rem;
    background-color: #ffffff;
    height: 85vh;
    h1 {
      line-height: 1em;
      font-weight: 400;
      margin-bottom: 1rem;
      span {
        font-weight: 900;
        font-size: 3rem;
      }
    }
    form {
      height: 60vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .textField {
        width: 100%;
      }
      .btn {
        background-color: #018695;
      }
    }
  }
  .illustrationContainer {
    // padding: 3rem;
    // background-color: #ffffff;
    .illustration {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
