.navbar {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 4rem;
  @media (max-width: 760px) {
    padding: 0 2rem 0 2rem;
    height: 10vh;
  }
  background: #ffffffe6;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .toggleburgerContainer {
    display: none;
    .fa-bars {
      color: #018695;
    }
    .fa-times {
      color: #018695;
    }
    @media (max-width: 760px) {
      display: block;
    }
  }

  .mainLogo {
    height: 200px;
    width: 200px;
  }
  .header {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    height: 100%;
    width: 40%;
    @media (max-width: 760px) {
      display: none;
    }
    .headerLinks {
      text-decoration: none;
      color: #018695;
      width: 25%;
      text-align: center;
      // color: white;
    }
    .headerLinks:nth-child(4) {
      font-weight: 800;
      font-size: larger;
    }
    .activatedLink {
      border-bottom: 5px solid #018695;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 760px) {
        height: auto;
      }
    }
  }
  .res-header {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 20rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 760px) {
      display: none;
    }
    .headerLinks {
      text-decoration: none;
      color: #018695;
      width: 80%;
      height: 3rem;
      text-align: center;
      display: grid;
      place-content: center;
    }
    .headerLinks:nth-child(4) {
      font-weight: 800;
      font-size: larger;
    }
    .activatedLink {
      border-left: 5px solid #018695;
    }
  }
}
