.singleProductContainer {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  min-height: 85vh;
  margin-top: 15vh;
  background: white;
  .caseOneContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseTwoContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseThreeContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseFourContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 65%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseFiveContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseSixContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseSevenContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseEightContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 55%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseNineContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 80%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseTenContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 70%;
        height: 70vh;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseElevenContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 60%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
  .caseTwelveContainer {
    padding: 1rem 4rem;
    @media (max-width: 760px) {
      padding: 1rem 2rem;
    }
    .imgContainer {
      display: grid;
      .title {
        font-size: 2rem;
        font-weight: 900;
        color: #018695;
      }
      .subTitle {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .img {
        padding: 2rem 0;
        width: 60%;
        justify-self: center;
        align-self: center;
      }
    }
    .dataContainer {
      height: 70vh;
      padding: 1rem;
      overflow: auto;
    }
  }
}
